/* styles go here */
.form-fieldset:not(:first-child) {
  margin-top: 20px;
}

.form-field {
  display: block;
  margin-top: 10px;
}

.form-fieldset .form-field:nth-child(2) {
  margin: 0;
}

.form-button {
  margin-top: 20px;
}
